body {
  background: url(texture-noise.png);
  overflow: scroll;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

  
	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font: size 12px; 
    font-family:sans-serif;
  }

  .node image {
    width: 16px;
    height: 16px;
  }
   
  .link {
    fill: none;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }